<header>
    <div class="row">
        <div class="col-12">
            <img class="img-fluid" src="/quabbin/assets/images/header.jpg">
        </div>
    </div>
    <div class="row" style="background-color: #edeed0;">
        <div class="col-12" style="padding-top: 1vw;">    
            <nav>
            <ul>
                <li><a href="/quabbin/index.html">Home</a></li>
                <li><a href="/quabbin/pages/about.html">About Us</a></li>
                <li><a href="/quabbin/pages/contact.html">Contact</a></li>
                <li><a href="/quabbin/pages/maxon.html">About Maxon</a></li>
            </ul>
        </nav>
        </div>
    </div>
</header>
